html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/circuitboard.jpg");
  z-index: -1;
  opacity: 0.1;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
}
h1 {
  color: #ffa500;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 16px;
}
a {
  color: #7d7d7d;
}
main {
  overflow: scroll;
  box-sizing: border-box;
  background-color: #fdfdfd;
  max-width: 100%;
  height: 100%;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  color: #2f2f2f;
}
article {
  flex-grow: 1;
  background-color: #fdfdfd;
  box-sizing: border-box;
  position: relative;
  padding: 32px 32px 0 32px;
  flex-grow: 1;
  flex-basis: 0;
}

h2 {
  width: 100%;
  color: #ffa500;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 4px;
  padding: 16px 0 16px 0;
}
h2:after {
  content: "";
  position: absolute;
  width: 90%;
  top: 50%;
  border-top: 1px solid #7d7d7d;
  z-index: 0;
}
h2 span {
  background-color: #fdfdfd;
  z-index: 1;
  padding: 8px;
}

h3 {
  width: 100%;
  color: #ffa500;
  position: relative;
  font-family: "Lato", sans-serif;
  letter-spacing: 4px;
  padding: 4px 0 4px 0;
}
p {
  font-size: 12px;
}

.contact_container {
  display: flex;
  flex-wrap: wrap;
}
.contact_item {
  text-align: center;
  flex-grow: 1;
  flex-basis: 45%;
}
.contact_item:nth-child(3),
.contact_item:nth-child(4) {
  margin-top: 16px;
}

.contact_item a {
  font-size: 12px;
  color: black;
}

.row_entry {
  display: block;
  padding: 16px 0 16px 0;
  display: flex;
  font-size: 12px;
  line-height: 1.4;
}

.row_title {
  padding-right: 16px;
  color: #7d7d7d;
  flex-grow: 1;
  flex-basis: 0;
}

.row_entry:hover .row_small_title {
  color: #ffa500;
}

.row_detail {
  padding-left: 16px;
  flex-grow: 2;
  flex-basis: 0;
}

button {
  background-color: #ffa500;
  border: 1px solid #7d7d7d;
  padding: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 16px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: white;
  border: none;
  color: #ffa500;
  font-size: 16px;
}

.blur {
  color: transparent;
  text-shadow: 0 0 8px #000;
  user-select: none;
}

@media screen and (min-width: 1200px) {
  main {
    flex-direction: row;
    overflow:hidden;
  }
  article:nth-child(1):after,
  article:nth-child(2):after {
    content: "";
    position: absolute;
    height: 90%;
    right: -1px;
    top: 5%;
    border: 1px solid #b8b8b8;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  main {
    flex-direction: column;
    overflow-x: hidden;
  }
  article:nth-child(1):after {
    display: none;
  }
  article:nth-child(2):after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  main {
    overflow:hidden;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 16px;
  }
  #blog {
    display: none;
  }
  .row_entry {
    flex-direction: column;
  }
  BODY {
    padding: 16px;
  }
  #projects,
  #education_heading,
  #education, #experience {
    display: none;
  }
  article {
    padding: 0;
    flex-basis: 0;
    flex-grow: 0;
  }
  .contact_container {
    flex-direction: column;
  }
  .contact_item {
    padding: 0 !important;
    margin: 0 !important;
  }
}
